@tailwind base;
@tailwind components;
@tailwind utilities;

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0.8;
  border-radius: 50%;
  animation: fall 4s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0);
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
  }
}

